---
- name: Write autopair.fish to /etc/skel
  ansible.builtin.copy:
    src: "{{ role_path }}/files/autopair.fish/conf.d/autopair.fish"
    dest: "/etc/skel/{{ fish_configuration_directory }}/conf.d/autopair.fish"
    owner: root
    group: root
    mode: "0644"
  when: fish_setup_skel | bool

- name: Write autopair functions to /etc/skel
  ansible.builtin.copy:
    src: "{{ role_path }}/files/autopair.fish/functions/{{ item }}"
    dest: "/etc/skel/{{ fish_configuration_directory }}/functions/{{ item }}"
    owner: root
    group: root
    mode: "0644"
  when: fish_setup_skel | bool
  loop: "{{ autopair_files }}"

- name: Write autopair.fish to users directory
  ansible.builtin.copy:
    src: "{{ role_path }}/files/autopair.fish/conf.d/autopair.fish"
    dest: "{{ path }}/{{ fish_configuration_directory }}/conf.d/autopair.fish"
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0644"
  when: fish_configure_users | length > 0
  loop: "{{ fish_configure_users }}"

- name: Write autopair functions to users directory
  ansible.builtin.copy:
    src: "{{ role_path }}/files/autopair.fish/functions/{{ item.1 }}"
    dest: "{{ path_0 }}/{{ fish_configuration_directory }}/functions/{{ item.1 }}"
    owner: "{{ item.0 }}"
    group: "{{ item.0 }}"
    mode: "0644"
  loop: "{{ fish_configure_users | product(autopair_files) | list }}"
  when: fish_configure_users | length > 0
