---
- name: Write done.fish to /etc/skel
  ansible.builtin.copy:
    src: "{{ role_path }}/files/done.fish"
    dest: "/etc/skel/{{ fish_configuration_directory }}/conf.d/done.fish"
    owner: root
    group: root
    mode: "0644"
  when: fish_setup_skel | bool

- name: Write done.fish to users directory
  ansible.builtin.copy:
    src: "{{ role_path }}/files/done.fish"
    dest: "{{ path }}/{{ fish_configuration_directory }}/conf.d/done.fish"
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0644"
  when: fish_configure_users | length > 0
  loop: "{{ fish_configure_users }}"
