---
- name: Write fish-completions-update.service to /usr/lib/systemd/user
  ansible.builtin.copy:
    src: fish-completions-update.service
    dest: "/usr/lib/systemd/user/fish-completions-update.service"
    owner: root
    group: root
    mode: "0644"

- name: Enable fish-completions-update service for users
  changed_when: false
  ansible.builtin.systemd:
    name: fish-completions-update
    scope: global
    enabled: true
