---
- name: Create /etc/skel McFly directory
  ansible.builtin.file:
    path: "/etc/skel/{{ fish_mcfly_directory }}"
    state: directory
    owner: root
    group: root
    mode: "0750"
  when: fish_setup_skel | bool

- name: Touch the /etc/skel McFly fish_history file
  ansible.builtin.file:
    path: "/etc/skel/{{ fish_mcfly_directory }}/fish_history"
    state: touch
    owner: root
    group: root
    mode: "0644"
    modification_time: preserve
    access_time: preserve
  when: fish_setup_skel | bool

- name: Create users McFly directory
  ansible.builtin.file:
    path: "{{ path }}/{{ fish_mcfly_directory }}"
    state: directory
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0750"
  when: fish_configure_users | length > 0
  loop: "{{ fish_configure_users }}"

- name: Touch the users McFly fish_history file
  ansible.builtin.file:
    path: "{{ path }}/{{ fish_mcfly_directory }}/fish_history"
    state: touch
    owner: "{{ item }}"
    group: "{{ item }}"
    mode: "0644"
    modification_time: preserve
    access_time: preserve
  when: fish_configure_users | length > 0
  loop: "{{ fish_configure_users }}"

# TO-DO -> Improve this to be more robust (version checks?)

- name: Check if Mcfly is already installed
  ansible.builtin.stat:
    path: /usr/local/bin/mcfly
  register: mcfly_stat

- name: Install Mcfly if not already installed
  block:
    - name: Download Mcfly install script v0.9.3
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/cantino/mcfly/refs/tags/v0.9.3/ci/install.sh
        dest: /tmp/mcfly-install.sh
        mode: '0755'

    - name: Execute Mcfly install script
      ansible.builtin.command: /tmp/mcfly-install.sh --git cantino/mcfly
  when: not mcfly_stat.stat.exists
