---
- name: Playbook
  hosts: localhost
  connection: local
  become: true
  gather_facts: true
  tasks:
    - name: Include fish role
      ansible.builtin.include_role:
        name: "{{ playbook_dir }}/../"
